@import 'variables';

.address-form {
    margin: 0 0 10px 0;
    border-radius: 3px;

    textarea {
        resize: none; 
    }

    .form-row {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    .form-field {
        position: relative;
        margin: 0 0 15px 0;
    
        app-validation-error {
            position: absolute;
            top: 80%;
            left: 1%;
        }
    
        .mat-form-field {
            display: block;
        } 
    }    

    .delete-btn {
        cursor: pointer;
        margin: -20px 0 0 0;
    }
    
    .address-error {
        margin: 10px 0 0 0;
        color: red;
    }
}

.add-btn {
    display: block;
    margin: 0 auto 20px;
}