@import 'variables';

mat-error {
    font-size: 13px;
}

.form-field {
    position: relative;
    margin: 0 0 15px 0;

    app-validation-error {
        position: absolute;
        top: 80%;
        left: 1%;
    }

    label {
        width: 32%;
        font-size: 1.5rem;
    }

    mat-radio-button:first-child {
        margin: 0 10px 0 0;
    }

    &-image {
        position: relative;
        max-height: 52px;
        background-color: #E7FEFE;
        border: 1px dashed #09B9B9;
        margin: 0 0 24px 0;
        padding: 10px;
        transition: background-color .1s ease;
        cursor: pointer;
        &:hover {
            background-color: #d0f4f4;
        }
        input {
           display: none;
        }
        label {
            cursor: pointer;
            margin: 0;
            color: #09B9B9;
            width: 100%;
        }
    }
}

.invalid {
    background-color: $errorFieldBackgroundColor;
    border-color: $errorFieldColor;
    &:hover {
        background-color: $errorFieldBackgroundColor;
    }
    label {
        color: $errorFieldColor;
    }
}

.mat-form-field {
    display: block;
} 

::ng-deep .ng-pending {
    .email-form-field {
        .mat-form-field-appearance-outline .mat-form-field-outline {
            color: rgb(251, 222, 0);
        }  
    }   
} 