<div class="users-list">
    <app-user-item 
        *ngFor="let user of users" 
        [userData]="user"
        [class.hidden]="!user.isActivated && !nonActiveUsers"
        (deactivateUser)="deactivateUser($event)"></app-user-item>
</div>

<div class="users-list__btns">
    <button mat-raised-button color="accent"
        (click)="toggleUsers()"> 
        {{ nonActiveUsers ? 'Hide non-active users' : 'Show non-active users' }} 
    </button>
    <button mat-raised-button color="warn"
        (click)="deactivateAllUsers()"
        [disabled]="usersDeactivated"> 
        {{ nonActiveUsers ? 'Deactivate all users' : 'Activate all users' }} 
    </button>
</div>
