form {
    background-color: #fff;
    border-radius: 3px;
    max-width: 30%;
    margin: 0 auto;
    padding: 20px;

    h2 {
        text-align: center;
        text-transform: uppercase;
        font-weight: 500;
    }

    button {
        display: block;
        margin: 0 auto;
    }
}