form {
    background-color: #fff;
    border-radius: 3px;
    max-width: 25%;
    margin: 0 auto;
    padding: 20px;

    h2 {
        text-align: center;
        text-transform: uppercase;
        font-weight: 500;
    }

    mat-form-field {
        display: block;
    }

    div {
        margin: 0 0 20px 0;

        label {
            width: 32%;
            font-size: 1.5rem;
        }
        mat-radio-button:first-child {
            margin: 0 10px 0 0;
        }
    }

    button {
        display: block;
        margin: 0 auto;
    }
}