mat-error {
    font-size: 13px;
}

h2 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
}

.form-field {
    position: relative;
    margin: 0 0 15px 0;

    app-validation-error {
        position: absolute;
        top: 80%;
        left: 1%;
    }

    label {
        width: 32%;
        font-size: 1.5rem;
    }

    mat-radio-button:first-child {
        margin: 0 10px 0 0;
    }
}

.mat-form-field {
    display: block;
} 


::ng-deep .ng-pending {
    .email-form-field {
        .mat-form-field-appearance-outline .mat-form-field-outline {
            color: rgb(251, 222, 0);
        }  
    }   
} 