<div class="form-row" [formGroup]="addressGroup">

        <div class="form-field form-field__text">
            <mat-form-field appearance="outline">
                <mat-label>Address</mat-label>
                <textarea formControlName="addressLine" id="addressLine" matInput placeholder="Type here"></textarea>
            </mat-form-field>
            <app-validation-error [control]="address.get('addressLine')" controlName="Address"></app-validation-error>
        </div>
    
        <div class="form-field">
            <mat-form-field appearance="outline">
                <mat-label>City</mat-label>
                <input formControlName="city" id="city" matInput placeholder="Type here">
            </mat-form-field>
            <app-validation-error [control]="address.get('city')" controlName="City"></app-validation-error>
        </div>
    
        <div class="form-field">
            <mat-form-field appearance="outline">
                <mat-label>ZIP</mat-label>
                <input formControlName="zip" id="zip" matInput placeholder="Type here">
            </mat-form-field>
            <app-validation-error [control]="address.get('zip')" controlName="ZIP"></app-validation-error>
        </div>
        
</div>
