.form-field {
    position: relative;

    app-validation-error {
        position: absolute;
        top: 80%;
        left: 1%;
    }

    .mat-form-field {
        display: block;
        margin: 0 0 20px 0;
    } 
}

.redirectionMessage {
    text-align: center;
    font: {
        size: 1.7rem;
        weight: 500;
    }
    a {
        cursor: pointer;
    }
}

mat-error {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0 0 15px 0;
    visibility: hidden;
    text-align: center;
}

.show {
    visibility: visible;
}