<ng-container [formGroup]="addressesFormGroup">

    <div class="address-list" formArrayName="addresses" *ngFor="let address of addresses.controls; let i = index">

        <div class="address-list-item">
            <app-address-form [address]="address"></app-address-form>

            <mat-icon class="delete-btn" (click)="removeAddress(i)">delete_forever</mat-icon>
        </div>

        <div class="address-error" [hidden]="isAddresRemovable">You should have at least one address!</div>
    </div>

    <button
        type="button"
        class="add-btn" 
        color="primary" 
        mat-mini-fab 
        (click)="addAddress()">
        <mat-icon class="add-course-btn">add</mat-icon>
    </button>  

</ng-container>