<h2>Hello world from page #{{ pageNumber }}!</h2>

<div>
    <p>Toggle</p>
    <mat-slide-toggle>Toggle me!</mat-slide-toggle><br>
</div>

<div>
    <p>Button and link</p>
    <button mat-flat-button color="primary">Primary</button>
    <a mat-fab matTooltip="Link" routerLink="." aria-label="Example fab with a heart icon">
        <mat-icon>favorite</mat-icon>
    </a>
</div>

<div>
    <p>Fields</p>
    <p>
        <mat-form-field appearance="fill">
          <mat-label>Fill form field</mat-label>
          <input matInput placeholder="Login">
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          <mat-hint>Hint</mat-hint>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Outline form field</mat-label>
          <input type="password" matInput placeholder="Password">
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          <mat-hint>Hint</mat-hint>
        </mat-form-field>
      </p>
</div>