<mat-card>
    <div class="user-info">
        <mat-card-content>{{ userData.name }}</mat-card-content>
        <mat-card-content>{{ userData.age }}</mat-card-content>
        <mat-card-content [ngClass]="{ 'non-active': !userData.isActivated, 'active': userData.isActivated }">
            {{ userData.isActivated ? 'Active' : 'Non-Active' }}
        </mat-card-content>
    </div>
    <button mat-raised-button color="primary"
            [disabled]="!userData.isActivated || userData.age < 18" 
            (click)="removeActivity()">
        Deactivate  
    </button>
</mat-card>