@import 'variables';

mat-card {
    padding: 20px;
    margin: 0 0 20px 0;
    color: $primaryFontColor;

    &-content {
        font: {
            weight: 500;
            size: 2rem;
        }
    }
}

.active {
    color: green;
}

.non-active {
    color: hsl(0, 100%, 50%);
}

.hidden {
    display: none;
}
