<app-card
    [isItemLiked]="isItemLiked"
    (isLiked)="likeItem()">
    <div class="title">
        <span>{{ user | fullName}}</span>
        <a class="details" (click)="navgateToUserDetails(user.id)">
            <mat-icon>info</mat-icon>
        </a>
    </div>
    
    <img mat-card-image [src]="user.imageUrl ? user.imageUrl : defaultImage" alt="User photo">
    
    <div class="content">
        <div>Age: <strong>{{ user.age }}</strong></div>
        <div>ID: {{ user.id }}</div>
        <div>Gender: {{ user.gender }}</div>
        <div>Company: {{ user.company }}</div>
        <div>Department: {{ user.department }}</div>
        <div>Email: {{ user.email }}</div>
        <div>Addresses:</div>
        <div *ngFor="let address of user.addresses; let i = index">
            <div>{{ address | addressPipe: i }}</div>
        </div>
    </div>

    <div class="card-controls">
        <a class="edit-icon" (click)="navigateToUser(user.id)">
            <mat-icon>edit</mat-icon>
        </a>
    
        <a class="info-icon" (click)="requestUserInfo(user.id)">
            <mat-icon>download</mat-icon>
        </a>

        <a class="save-icon" (click)="saveUser(user.id)">
            <mat-icon>save</mat-icon>
        </a>
    </div>
</app-card>