<mat-card class="example-card">
    <mat-card-header>
        <mat-card-title>
            <ng-content select=".title"></ng-content>
        </mat-card-title>
    </mat-card-header>

    <ng-content select="img"></ng-content>
    
    <mat-card-content>
        <ng-content select=".content"></ng-content>
    </mat-card-content>
    
    <mat-card-actions>
        <button mat-icon-button (click)="likeItem()"
            [ngStyle]="{color: isItemLiked ? 'red' : 'grey'}" 
            aria-label="Example icon button with a heart icon">
            <mat-icon>favorite</mat-icon>
        </button>    
    </mat-card-actions>
</mat-card>
