<mat-card class="example-card">
    <ng-container>
        <mat-card-header>
            <mat-card-title>
                <ng-content select=".title"></ng-content>
            </mat-card-title>
        </mat-card-header>
    
        <ng-content select="img"></ng-content>
        
        <mat-card-content>
            <ng-content select=".content"></ng-content>
        </mat-card-content>
    </ng-container>
    
    <mat-card-actions>
        <button mat-icon-button (click)="likeItem()"
            [ngStyle]="{color: isItemLiked ? 'red' : 'grey'}" 
            aria-label="Example icon button with a heart icon">
            <mat-icon>favorite</mat-icon>
        </button>    
        <ng-content select=".card-controls"></ng-content>
    </mat-card-actions>
</mat-card>
