<header>
    <div class="nav-logged">
        <nav>
            <a routerLink="home" routerLinkActive="active">Home</a>
            <a routerLink="car" routerLinkActive="active">Cars</a>            
            <a #menuTrigger [matMenuTriggerFor]="menu">Users</a>
            <mat-menu #menu>
                <button mat-menu-item routerLink="user">Users List</button>
                <button mat-menu-item routerLink="user/tables">User tables</button>
                <button mat-menu-item routerLink="user/add">Add user</button>
            </mat-menu>
        </nav>
    
        <div class="nav-logged_controls">
            <div class="nav-logged_data">
                <img src="assets/img/user/avatar_m.png" alt="user-image">
                <span>{{ userName }}</span>
            </div>
    
            <app-menu class="nav-logged_exit">
                <button (click)="logoutUser()" mat-menu-item>
                    <mat-icon>logout</mat-icon>
                    <span>Sign out</span>
                </button>
            </app-menu>
        </div>
    </div>
</header>