<header>
    <div class="nav-logged">
        <nav>
            <a routerLink="home" routerLinkActive="active">Home</a>
            <a routerLink="user" routerLinkActive="active">Users</a>
            <a routerLink="user/add" routerLinkActive="active">Add user</a>
            <a routerLink="car" routerLinkActive="active">Cars</a>
        </nav>
    
        <div class="nav-logged_controls">
            <div class="nav-logged_data">
                <img src="assets/img/user/avatar_m.png" alt="user-image">
                <span>{{ userName }}</span>
            </div>
    
            <app-menu class="nav-logged_exit">
                <button (click)="logoutUser()" mat-menu-item>
                    <mat-icon>logout</mat-icon>
                    <span>Sign out</span>
                </button>
            </app-menu>
        </div>
    </div>
</header>