<div class="users-list">
    <app-user-list-item 
        *ngFor="let user of users" 
        [userData]="user"
        [class.hidden]="!user.isActivated && !isUsersActive">
    </app-user-list-item >
</div>

<div class="users-list__btns">
    <button mat-raised-button color="accent"
        (click)="toggleUsers()"> 
        {{ isUsersActive ? 'Hide non-active users' : 'Show non-active users' }} 
    </button>
    <button mat-raised-button color="warn"
        (click)="deactivateAllUsers()"
        [disabled]="isUsersDeactivated"> 
        {{ isUsersActive ? 'Deactivate all users' : 'Activate all users' }} 
    </button>
</div>
