.users-list {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    
    &__btns {
        display: flex;
        gap: 20px;
    }

    .title {
        span {
            margin: 0 0 0 20px;
        }
    }
}