<div class="users-list">
    <app-list-item *ngFor="let user of users" [data]="user"
        (checkLikeStatus)="checkLike($event)">
        <span class="title">
            {{ user.name }} <strong>{{ user.age }}</strong>
        </span>

        <img mat-card-image [src]="user.imageUrl" alt="User photo">

        <div class="content">
            <div>{{ user.gender ? 'male' : 'female' }}</div>
            <div>{{ user.department }}</div>
            <div>{{ user.company }}</div>
        </div>
    </app-list-item>
</div>


