:host {
    width: 65%;
    margin: 0 auto;
}

.users-list {
    display: flex;
    gap: 50px;
    width: 100%;
    flex-wrap: wrap;
    
    &__btns {
        display: flex;
        gap: 20px;
    }

    .title {
        span {
            margin: 0 0 0 20px;
        }
    }
}