<div class="page-panel">
    <app-search-field (valueChange)="findUsers($event)"></app-search-field>
    <div class="page-btns">
        <button (click)="refresh()">Refresh</button>
        <button (click)="refreshWithBlocking()">Wait for refresh</button>
    </div>
</div>

<h2 *ngIf="!loading && !users.length">Error occured!</h2>
<mat-spinner *ngIf="loading"></mat-spinner>

<div class="user-content">
    <app-user-list 
        [users]="users"
        [favoriteUsers]="favoriteUsers"
        (isLiked)="likeItem($event)"
        (userInfoRequested)="downloadUserInfo($event)"
        (userSaved)="saveUser($event)">
    </app-user-list>

    <app-favorites-list>
        <app-user-list 
            [users]="favoriteUsers"
            [favoriteUsers]="favoriteUsers">
        </app-user-list>
    </app-favorites-list>
</div>

<mat-paginator
    #paginator
    [length]="paginatorLength"
    [pageSize]="paginatorPageSize"
    [pageSizeOptions]="paginatorOptions">
</mat-paginator>

