<app-search-field (valueChange)="findUsers($event)"></app-search-field>

<h2 *ngIf="showError">Error occured!</h2>
<mat-spinner *ngIf="loading"></mat-spinner>

<div class="user-content">
    <app-user-list 
        [users]="users"
        [favoriteUsers]="favoriteUsers"
        (isLiked)="likeItem($event)">
    </app-user-list>

    <app-favorites-list>
        <app-user-list 
            [users]="favoriteUsers"
            [favoriteUsers]="favoriteUsers">
        </app-user-list>
    </app-favorites-list>
</div>

<mat-paginator
    [length]="1000"
    [pageSizeOptions]="[10, 20, 50]"
    (page)="uploadUsers($event)">
</mat-paginator>


